@import "../../../styles/color.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 23px;
  padding: 30px 0;
  width: 100%;
  gap: 12px;

  button {
    align-self: baseline;
  }
}

@media (max-width: 320px) {
}
@media (max-width: 481px) {
}
@media (max-width: 641px) {
}
@media (max-width: 961px) {
}
@media (max-width: 1025px) {
  .container {
    margin-top: 0 !important;
    padding-top: 12px;
  }
}
@media (max-width: 1281px) {
  /* hi-res laptops and desktops */
}

.poll-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 10px;
  overflow-y: auto;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 450px;
  margin: 0 auto;
  padding: 30px;

  gap: 12px;
  line-height: normal;
  box-sizing: border-box;
}

@media (max-width: 320px) {
}
@media (max-width: 481px) {
}
@media (max-width: 641px) {
  .info-container {
    min-width: unset;
  }
}
@media (max-width: 961px) {
}
@media (max-width: 1025px) {
}
@media (max-width: 1281px) {
  /* hi-res laptops and desktops */
}

.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.poll-name {
  display: flex;
  flex-direction: column;
  gap: 6px;

  p {
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
  }
}

.poll-status {
  padding: 4px 8px;
  gap: 8px;

  border-radius: 4px;

  background-color: $gray-300;
  color: $gray-600;

  &.created {
    background-color: $gray-300;
    color: $gray-600;
  }

  &.closed {
    background-color: $background-false;
    color: $error-text;
  }

  &.open {
    background-color: $background-true;
    color: $success-text;
  }
}
