@import "../../../styles/color.scss";

.container {
  display: flex;
  flex-direction: column;
  padding: 130px 31px 43px 31px;
  gap: 22px;
}

@media (max-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (max-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (max-width: 961px) {
}
@media (max-width: 1025px) {
  .container {
    padding: 18px;
  }
}
@media (max-width: 1281px) {
  /* hi-res laptops and desktops */
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  gap: 8px;
}

.button {
  font-size: 18px;
  font-weight: 600;
  border-radius: 20px;
  border: 0;

  width: 217px;
  height: 59px;
}

.icon-button {
  background-color: $background-01;

  svg {
    margin-right: 10px;
  }
}

.textarea-wrapper {
  display: flex;
  align-items: flex-start;

  margin-bottom: 6px;

  background-color: $background-03;
  border-radius: 20px;
}

@media (max-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (max-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (max-width: 961px) {
}
@media (max-width: 1025px) {
  .textarea-wrapper {
    margin-bottom: 0px;

    textarea {
      min-height: 80px;
    }
  }
}
@media (max-width: 1281px) {
  /* hi-res laptops and desktops */
}

@media (max-width: 1281px) {
  /* hi-res laptops and desktops */
}

.input {
  all: unset;

  height: 72px;
  border-radius: 20px;

  padding: 0 20px;
  background-color: $background-03;
  color: $gray-900;

  font-weight: 600;
  font-size: 18px;
  cursor: text;
}
