.question-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 30px;

  gap: 12px;
  line-height: normal;
  box-sizing: border-box;
}

@media (max-width: 320px) {
}
@media (max-width: 481px) {
}
@media (max-width: 641px) {
  .question-container {
    min-width: unset;
  }
}
@media (max-width: 961px) {
}
@media (max-width: 1025px) {
}
@media (max-width: 1281px) {
  /* hi-res laptops and desktops */
}

.answers-amount {
  display: flex;
  align-items: center;
  gap: 4px;
}
