$accent-color: #1784cc;

$gray-900: #303d45;
$gray-800: #323333;
$gray-700: #666767;
$gray-600: #576975;
$gray-400: #8a8a8a;
$gray-300: #e1e1e1;

$blue-700: #05568c;
$blue-100: #c1def1;

$background-01: #eff2f4;
$background-02: #ffffff;
$background-03: #e8f4ff;
$background-false: #f5e1e1;
$background-true: #f1fdef;

$error-text: #9a0000;
$success-text: #4caf50;

$gradient: linear-gradient(90deg, #3fe3d3 3.55%, #40d6f5 46.88%, #3eb1fe 99.84%);
