.form {
  width: 100%;
  margin-top: 124px;

  button[type="submit"] {
    margin-top: 88px;
    margin-bottom: 88px;
  }
}

@media (max-width: 768px) {
  .form {
    button[type="submit"] {
      box-sizing: border-box;
      margin-top: 59px;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 768px) {
  .form {
    margin-top: 59px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.button {
  width: 348px;
  height: 72px;
}

@media (max-width: 768px) {
  .button {
    width: 100%;
    box-sizing: border-box;
  }
}
