@import "../../../styles/color.scss";

.container {
  background: $background-02;
  border: 1px solid $gray-400;
  border-radius: 4px;
  color: $gray-700;
}

.label {
  margin-bottom: 12px;
  color: $gray-800;

  h4 {
    font-weight: 500;
    font-size: 16px;
  }
}

.input {
  margin-bottom: 20px;
}

.icon {
  display: flex;
  align-items: center;
  color: $gray-700;

  &.error {
    color: $error-text;
  }
}

.hints {
  position: relative;
  box-sizing: border-box;

  z-index: 5;
  margin-top: 12px;
  color: $gray-700;

  p {
    font-weight: 500;
    font-size: 14px;
  }

  &.error {
    color: $error-text;
  }
}
