@import "../../../styles/color.scss";

.container {
  display: flex;
  flex-direction: column;

  max-width: 753px;
  width: 100%;

  margin-top: 112px;
  padding: 22px;
  box-sizing: border-box;
}

@media (max-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (max-width: 641px) {
  .container {
    padding: 12px;
  }
}
@media (max-width: 961px) {
}
@media (max-width: 1025px) {
}
@media (max-width: 1281px) {
  /* hi-res laptops and desktops */
}

.card {
  display: flex;
  flex-direction: column;

  padding: 22px;
  gap: 18px;
}

@media (max-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (max-width: 641px) {
  .card {
    padding: 0;
    gap: 8px;
  }
}
@media (max-width: 961px) {
}
@media (max-width: 1025px) {
}
@media (max-width: 1281px) {
  /* hi-res laptops and desktops */
}

.form-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 22px;
  gap: 36px;
}

@media (max-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (max-width: 641px) {
  .form-container {
    padding: 22px 12px;
  }
}
@media (max-width: 961px) {
}
@media (max-width: 1025px) {
}
@media (max-width: 1281px) {
  /* hi-res laptops and desktops */
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;

  span {
    font-size: 2em;
  }
}

.button {
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px;
  border: 0;

  width: 217px;
  height: 59px;
}

.icon-button {
  background-color: $background-01;

  svg {
    margin-right: 10px;
  }
}

.textarea-wrapper {
  display: flex;
  align-items: flex-start;

  margin-bottom: 6px;
  border-radius: 4px;
  border: 1px solid $gray-400;
}

@media (max-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (max-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (max-width: 961px) {
}
@media (max-width: 1025px) {
  .textarea-wrapper {
    margin-bottom: 0px;

    textarea {
      min-height: 80px;
    }
  }
}
@media (max-width: 1281px) {
  /* hi-res laptops and desktops */
}

@media (max-width: 1281px) {
  /* hi-res laptops and desktops */
}

.salary {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 8px;
  width: 100%;

  label {
    width: 100%;
  }
}
