.card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 23px;
  min-width: 450px;
}

@media (max-width: 320px) {
}
@media (max-width: 481px) {
}
@media (max-width: 641px) {
  .card {
    min-width: unset;
  }
}
@media (max-width: 961px) {
}
@media (max-width: 1025px) {
}
@media (max-width: 1281px) {
  /* hi-res laptops and desktops */
}

.name {
  width: 100%;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.add-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.switch-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.multi-inputs {
  display: flex;
  font-display: row;
  gap: 8px;
  margin-top: 8px;
}
